.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 850px;
    background-color: #2196F3;
    width: 100%;
    color: #FFFFFF;
}

.header button{
    margin: 0;
    background-color: #FFFFFF;
    color: #2196F3;
}