.to-do{
    background-color: #FFFFFF;
    width: 500px;
    margin-top: 5%;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.to-do .list-of-todo{
    margin-top: 10%;
}